@model Flutterweb.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Submited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Submited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Draft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Draft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Widget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Widget)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
